<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Titre de notre page web -->
        <title>ToutDouxListe</title>
        <!-- Intégration de librairies -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Intégration de notre CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="/style/index.css">
        <link rel="icon" type="images/png" href="/images/logo.png"/>
        <!-- Intégration de notre fonctions en JS -->
        <script src="/js/functions.js"></script>
    </head>
    <body>
    	<!-- Barre de navigation permettant la navigation verticale sur la page -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="/"><img class="navbar-brand" id="logo" src="images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span id="navbar-icon" class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu comportant la navigation entre les pages du site -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" role="button" href="/" style="color : #00A6CE;">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" href="/contact" style="color : #00A6CE;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" href="/aide" style="color : #00A6CE;">Aide</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br/>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">

                <!-- Liste -->
                <div class="list-group row">
                    <div class="list-group-item list-group-item-action card card-body" style="background-color : #343A40; color : #00A6CE;">
                        <label>ToutDouxListe</label>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <ul class='list-group list-group-horizontal' style='width : 100%;'>
                                    <li class='list-group-item' style='font-size : 75%; width : 40%; background-color : #343A40; color : #00A6CE;'>Nom</li>
                                    <li class='list-group-item' style='font-size : 75%; width : 20%; background-color : #343A40; color : #00A6CE;'>Status</li>
                                    <li class='list-group-item' style='font-size : 75%; width : 15%; background-color : #343A40; color : #00A6CE;'>Modifier</li>
                                    <li class='list-group-item' style='font-size : 75%; width : 15%; background-color : #343A40; color : #00A6CE;'>Supprimer</li>
                                </ul>
                                <ul id="Liste" class='list-group' style='width : 100%;'>
                                    <% todolist.forEach(function(tache, index) { %>
                                        <ul class='list-group list-group-horizontal'>
                                            <li class='list-group-item' style='font-size : 75%; width : 40%;'><%= tache.libelle %></li>
                                            <li class='list-group-item' style='font-size : 75%; width : 20%;'><%= tache.status %></li>
                                            <li class='list-group-item' style='width : 15%;'><img id="action" onclick="modifier('<%=tache.status%>','<%=tache.id%>')" src="images/edit.png"></li>
                                            <li class='list-group-item' style='width : 15%;'><img id="action" onclick="supprimer('<%=tache.id%>')" src="images/del.png"></li>
                                        </ul>
                                    <% }); %>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="list-group-item list-group-item-action card card-body" style="background-color : #343A40; color : #00A6CE;">
                                    <label>Recherche d'une ToutDouxListe</label>
                                </div>
                                <div class="list-group-item">
                                    <div class="form-group row">
                                        <input style="width: 70%;" type="text" id="nomRecherche" class="form-control" placeholder="Veille">
                                        <a role="button" class="btn" class="nav-link" data-toggle="collapse" aria-controls="Collapse-Recherche" onclick="recherche(document.getElementById('nomRecherche').value)" style="background-color : #343A40; color : #00A6CE; width : 30%;">Rechercher<span class="sr-only"></span></a>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action card card-body" style="background-color : #343A40; color : #00A6CE;">
                                    <label>Création d'une ToutDouxListe</label>
                                </div>
                                <div class="list-group-item">
                                    <div class="form-group row">
                                        <input style="width: 70%;" type="text" id="newLibelle" class="form-control" placeholder="Veille">
                                        <button onclick="ajout(document.getElementById('newLibelle').value)" class="btn" style="background-color : #343A40; color : #00A6CE; width : 30%;">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>

                <!-- Liste -->
                <div class="list-group row collapse" id="Collapse-Recherche">
                    <div class="list-group-item list-group-item-action card card-body" style="background-color : #343A40; color : #00A6CE;">
                        <label>Résultat de la recherche</label>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div style="width: 100%;">
                                <ul class='list-group list-group-horizontal'>
                                    <li class='list-group-item' style='font-size : 75%; width : 40%; background-color : #343A40; color : #00A6CE;'>Nom</li>
                                    <li class='list-group-item' style='font-size : 75%; width : 20%; background-color : #343A40; color : #00A6CE;'>Status</li>
                                </ul>
                                <ul class='list-group' style='width : 100%;'>
                                    <ul class='list-group list-group-horizontal'>
                                        <li id='resNom' class='list-group-item' style='font-size : 75%; width : 40%;'></li>
                                        <li id='resStatus' class='list-group-item' style='font-size : 75%; width : 20%;'></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </body>
    <footer>
        <div>
            <hr>
            <h6>Tout droit réservé @ xThaz</h6>
        </div>
    </footer>
</html>
